---
layout: default
pagination:
  enabled: true
---
<h1 class="intro">Daniel is a UX Designer based in Oakland.<br/>
  Currently at <a href="https://www.jnj.com/" target="_blank" class="outbound">Johnson & Johnson</a>. Formerly at <a href="https://www.altais.com" target="_blank" class="outbound">Altais</a>.</h1>
<h3 class="floating-header">Work ↓</h3>
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.posts %}
        <article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
            {% if post.image %}
              <figure class="posts__img">
                <img src="{{ post.image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image"/>
              </figure>
            {% endif %}
            <div>
              <span class="posts__category">{{ post.category }}</span>
              <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong><br/>
              {{ post.excerpt words="35" }}</h2>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
