<img src="{{ site.github.url }}/assets/img/work/proj-1/img01.png" alt="Tesla Heuristic Evaluation">
<a href="{{ site.github.url }}/assets/img/work/proj-1/Tesla-HE.pdf" target="_blank"><div class="button">Download PDF</div></a><br/><br/>
<p>Our team performed an expert heuristic evaluation on Tesla’s Model 3 minisite. The minisite allows users to configure the Model 3 of their dreams and place an order online without having to go to a car dealership.</p>

<p>The purpose of our report is to identify key usability issues and deliver our recommendations so Tesla can create an even more enjoyable online car buying experience for the Model 3.</p>

<p>Our team identified 5 positives,  8 cosmetic issues, 18 minor issues, 7 major issues, and 2 catastrophic issues across the Model 3 minisite.
</p>
